body {
  margin: 0;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  color: #e2e0e0;
  background-color: #2d2d30;
}
  
header {
  background-color: #202022;
  border-radius: 8px;
  box-sizing: border-box;
  margin: 8px auto;
  padding: 20px;
  position: fixed;
  width: 98%;
  left: 1%;
  right: 1%;
  z-index: 1;
}

hr.divider {
  border: 2px solid #666565;
  margin: 15px;
}
  
#nav-title {
  padding-top: 5px;
  font-family: Impact, Charcoal, sans-serif;
  font-size: 48px;
  margin-left: auto;
  justify-content: flex-end;
  transition: all .1s ease;
}

#nav-title:hover {
  transform: translateY(-5px);
  color: #10b158;
}
  
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;
}
  
nav ul li {
  line-height: 25px;
}
  
nav ul li a {
  display: block;
  text-align: center;
  padding: 10px 15px 5px;
  color: #fff;
  text-decoration: none;
  transition: all .1s ease;
}
  
nav ul li a img {
  height: 20px;
}
  
nav ul li a:hover {
  transform: scale(1.1);
}
  
main {
  max-width: 70%;
  margin: 0 auto;
  padding: 40px 20px 0;
}
  
h2 {
  font-weight: normal;
  max-width: 800px;
  margin-top: 65px;
  margin-bottom: 10px;
  font-size: 48px;
  text-align: left;
  display: block;
}

h3 {
  font-weight: normal;
  margin-top: 5px;
  margin-bottom: 15px;
  font-size: 40px;
  text-align: center;
}

h4 {
  font-weight: normal;
  max-width: max-content;
  margin: 10px 10px 5px;
  font-size: 28px;
  text-align: left;
  display: block;
}

h5 {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: normal;
  max-width: 800px;
  margin: 5px 15px 5px;
  font-size: 14px;
  text-align: left;
  display: block;
}

#about h5 {
  margin: 10px 10px 5px;
  font-size: 24px;
}
  
p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  margin: 5px 10px;
  display: inline-block;
}

/* Styling for text-content boxes. */
.text-content {
  font-family: Arial, Helvetica, sans-serif;
  border: solid 2px;
  margin: 5px 5px 25px;
  padding: 5px 10px 10px;
  background-color: #202022;
  border-radius: 8px;
  overflow: hidden;
  transition: all .1s ease;
}
.text-content p {
  display: block;
  margin-top: 15px;
}
#app-dev {
  border-color: #2fb8ca3f;
}
#im-spec {
  border-color: #07f87342;
}
#hobbies {
  border-color: #7021ca81;
}
#hobbies p {
  display: block;
}
#more-skills {
  border-color: #e49e1c38;
}

/* Styling for highlighted bubbles. */
.bubble {
  margin: 0px 5px 5px;
  padding: 5px 10px;
  border-radius: 16px;
  display: inline-block;
}
#green {
  background-color: #07f87342;
  color: #00ff73;
}
#blue {
  background-color: #2fb8ca3f;
  color: #3fe2ff;
}
#purple {
  background-color: #6a27b62d;
  color: #9b31ff;
}
#orange {
  background-color: #e49e1c38;
  color: #ffae19;
}

.music-container {
  text-align: center;
}
.music-container img {
  padding: 15px 0px;
  display: inline-block;
  margin: auto;
  transition: all 0.5s ease;
}
.music-container p {
  display: block;
  text-align: center;
  font-size: 16px;
}
.music-container img:hover {
  transform: rotate(360deg) scale(1.1);
}


.essay-container {
  display: grid;
  grid-template-rows: 1fr;
  grid-gap: 10px;
}

.essay {
  background-color: #202022;
  font-family:'Times New Roman', Times, serif;
  font-size: 24px;
  font-weight: bolder;
  padding: 80px;
  margin: 10px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #ccc;
  transition: all 0.1s;
}

.essay-description {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: normal;
  margin-top: 10px;
  text-align: center;
}

.essay:hover {
  transform: scale(1.02);
  filter: brightness(90%);
}

footer {
  padding: 5px;
}