body {
  margin: 0;
  font-family: Tahoma, Geneva, Verdana, sans-serif;;
  font-size: 16px;
  color: #333;
  background-color: #eeeeee;
}
  
header {
  background-color: #000;
  padding: 20px;
  position: fixed;
  top: 0;
  width: 100%;
}

#breaker {
  padding-left: 35%;
}

hr.divider {
  border-top: 2px solid #bbb;
}
  
#nav-title {
  padding-top: 5px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: row;
  left: 75%;
  font-size: 48px;
  color: #e2e0e0;
  transition: all .1s ease;
}

#nav-title:hover {
  transform: translateY(-5px);
}
  
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;
}
  
nav ul li {
  line-height: 25px;
}
  
nav ul li a {
  display: block;
  text-align: center;
  padding: 10px 16px 5px;
  color: #fff;
  text-decoration: none;
  transition: all .1s ease;
}
  
nav ul li a img {
  height: 20px;
}
  
nav ul li a:hover {
  transform: scale(1.1);
  color: #ff9800;
}
  
main {
  max-width: 70%;
  margin: 0 auto;
  padding: 40px 20px 0;
}
  
h1 {
  font-weight: normal;
  font-size: 48px;
  color: #e08700;
  margin-bottom: 10px;
}
  
h2 {
  font-weight: normal;
  margin-top: 60px;
  font-size: 32px;
  text-align: left;
  display: block;
}

#intro h2 {
  max-width: 800px;
  margin-top: 60px;
  font-size: 48px;
  text-align: left;
  display: block;
}

#intro h3 {
  font-weight: normal;
  max-width: 800px;
  margin-top: 30px;
  margin-bottom: 15px;
  font-size: 40px;
  text-align: left;
}

#intro h3.active {
  margin-bottom: 15px;
}

#intro h4 {
  font-weight: normal;
  max-width: max-content;
  margin-top: 10px;
  margin-left: 40px;
  margin-bottom: 5px;
  font-size: 28px;
  text-align: left;
  display: block;
}

#intro h5 {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: normal;
  max-width: 800px;
  margin-top: 0px;
  margin-left: 45px;
  margin-bottom: 5px;
  font-size: 16px;
  color: #3b3b3b;
  text-align: left;
  display: block;
}

#intro p {
  margin-top: 8px;
  margin-left: 45px;
}

.arrow {
  display: inline-block;
  margin-left: 10px;
  margin-bottom: 5px;
  width: 10px;
  height: 10px;
  border: solid black;
  border-width: 1px 1px 0px 0px;
  transform: rotate(135deg);
  transition: transform 0.3s ease;
}

.arrow.up {
  transform: translateY(6px) translateX(3px) rotate(-45deg);
}
  
p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}
  
#portrait {
  margin-top: 15px;
  max-width: 300px;
  height: auto;
  border-radius: 10px;
}

.role-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.role-content.active {
  max-height: 1000px;
}

footer {
  background-color: #000;
  margin-top: 20px;
  padding: 20px;
  position: sticky;
}